<nav class="navbar navbar-expand navbar-light bg-light mb-5">
  <a class="navbar-brand">{{pageTitle}}</a>
  <ul class="nav nav-pills">
    <li><a class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/welcome']">Home</a></li>

    <li><a class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dealership']">Dealerships</a></li>

    <li><a class="nav-link"
      routerLinkActive="active"
      [routerLink]="['/dealership-new']">New dealership</a></li>

    </ul>
    
      <ul class="nav nav-pills">
            <li><a class="nav-item nav-link"
            routerLinkActive="active"
            routerLink="/UserLogin">
              {{userName}}
            </a></li>
       </ul>
  
</nav>