<div class='card'>
    <div class='card-header'>
      {{pageTitle}}
    </div>
    <div class='card-body'>
      <div class='row'>
        <div class='col-md-2'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text'
                 [(ngModel)]='listFilter' />
        </div>
      </div>
      <div class='row'
           *ngIf='_listFilter'>
        <div class='col-md-6'>
          <h4>Filtered by: {{listFilter}}</h4>
        </div>
      </div>
      <div class='table-responsive'>
        <table class='table'
               *ngIf='dealerships && dealerships.length'>
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Name</th>
              <th>Owner Name</th>
              <th>Active</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let dealership of filteredDealerships | isActive'>
              <td>
                <a class="btn btn-info btn-sm" [routerLink]="['/dealership', dealership.id]">
                    <span class="fa fa-info"></span>
                </a>
              </td>
              <td>
                {{dealership.id}}
   
              </td>
              <td>
                  {{ dealership.name }}
                </td>
              <td>
                  {{ dealership.ownerName }}
                </td>
              <td>
                    <i *ngIf="dealership.active" class=" fa fa-toggle-on"></i>
                    <i *ngIf="!dealership.active" class="fa fa-toggle-off"></i>
                </td>
              <td>
                  <button class="btn btn-danger btn-sm"
                          (click)="deleteDalership(dealership.id)">
                    <span class="fa fa-close"></span>
                </button>
                
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>