<div class='card'
    *ngIf="dealership">

    <div class='card-header'>
      {{dealership.name}}
    </div>
        <div class='card-body'>
            <div class="row">
            <div class="form group col-sm-4">
                <label for="name">Name:</label>
                <input type="text"
                    class="form-control input-sm"
                    [(ngModel)]="dealership.name"
                    [disabled]="!isEditMode" />
            </div>
            <div class="form group col-sm-4">
                <label for="ownerName">Owner Name</label>
                <input type="text"
                    class="form-control input-sm"
                    [(ngModel)]="dealership.ownerName"
                    [disabled]="!isEditMode"
                    changeBackground
                    [elementValue]="dealership.ownerName"/>
            </div>
            
            <div class="form group col-sm-4">
                    <button (click)="backToDealerships()"><span class="fa fa-undo"></span> Обратно</button>
            </div>
            </div>
        <div class="row">
            <div class="form group col-sm-2"
                *ngIf="!isEditMode">
                <button (click)="edit()">Редакция</button>
            </div>
            <div class="form group col-sm-6"
                *ngIf="isEditMode">
                <button (click)="save()">Запис</button>
            </div>
            <div class="form group col-sm-6"
                *ngIf="isEditMode">
                <button (click)="cancel()">Отказ</button>
            </div>
        </div>

        

        <div class='card'
                *ngIf="dealership.cars">
            <div class='card-header'>
                    Cars
            </div>
            <div class='card-body'>
  
                    <car-component [cars] = 'dealership.cars'></car-component>
               
            </div>
        </div>
</div>

</div>